button {
  all: unset;
}

.checkboxWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  padding: 6px 9px 6px 6px;
}

.CheckboxRoot {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 3.5px;

  background-color: transparent;
  border-radius: 50%;

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:focus-visible {
    background-color: var(--color-dark-100);
  }

  &:active {
    background-color: var(--color-dark-100);
  }

  &:disabled {
    cursor: not-allowed;

    &:hover,
    &:focus-visible,
    &:active {
      background-color: transparent;
    }
  }
}

.styleCheckedIcon {
  --checkbox-fill: var(--color-dark-900);
  --checkbox-icon-fill: var(--color-light-100);
}

.CheckboxRoot:disabled .styleCheckedIcon {
  --checkbox-fill: var(--color-dark-500);
  --checkbox-icon-fill: var(--color-dark-100);
}

.styUncheckedIcon {
  --color-icon: var(--color-light-900);
}

.CheckboxRoot:disabled .styUncheckedIcon {
  --color-icon: var(--color-dark-100);
}

label.label {
  color: var(--color-light-100);
  white-space: nowrap;
}
