.table {
  border-collapse: collapse;
  color: var(--color-light-100);
  border: 1px solid var(--color-dark-500);
}

.header {
  background-color: var(--color-dark-500);
}

.row {
  border-bottom: 1px solid var(--color-dark-500);
}

.cell {
  width: 201px;
  padding: 6px 24px;
}

.cell:last-child {
  width: 404px;
}
