.ContentArea {
  cursor: pointer;

  width: 100%;
  padding: 10px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 4px;

  &::after {
    content: '';

    position: absolute;
    top: -1px;
    right: 5px;

    display: block;

    width: 20px;
    height: 1px;

    background-color: var(--color-dark-700);
  }

  &::before {
    content: '';

    position: absolute;
    z-index: -1;
    top: -6px;
    right: 5px;
    transform: rotate(45deg);

    display: block;

    width: 20px;
    height: 20px;

    background-color: var(--color-dark-700);
    border: 1px solid var(--color-dark-500);
  }
}

.Items {
  cursor: pointer;

  display: flex;
  gap: 5px;
  align-items: center;

  width: 100%;
  padding: 10px;

  color: var(--color-light-100);

  outline: none;
}

.separator {
  height: 1px;
  background-color: var(--color-dark-500);
}

.iconStyle {
  fill: var(--color-light-100);
}

.iconStyleButton {
  fill: var(--color-light-100);
}

.iconStyleButton:hover {
  cursor: pointer;
  fill: var(--color-light-900);
}

div.mailTextStyle {
  position: relative;
  color: var(--color-dark-100);
}
